.intracto-style .umb-box {
    overflow: hidden;
}

.intracto-style .umb-box .umb-box-header {
    background-color: #1b264f;
}

.intracto-style .umb-box .umb-box-header-title {
    color: #ffffff;
    opacity: .8;
}